body{
    background:black
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.navigation-bar{
    background-color: black;
}

about-me .my-picture{
    
}